<div class="flex flex-column align-items-center justify-content-evenly p-5 absolute unauthorized-needs">
  <div class="flex align-items-center justify-content-evenly w-8">
    <h1 class="unauthorized-text-xl">4</h1>
    <img src="assets/unauthorized/unauthorized-livre.png" alt="Accès refusé" width="100" height="100"/>
    <h1 class="unauthorized-text-xl">3</h1>
  </div>
  <div class="text-3xl text-center">
    <b>Accès refusé : </b>
    <p>Vous n'avez pas l'autorisation d'accéder à cette page.</p>
  </div>
  <div class="flex w-10 justify-content-evenly">
    <a href="/home"><button class="bg-book-secondary text-white p-3 border-round unauthorized-btn">Retourner à l'accueil</button></a>
    <a href="/connexion"><button class="bg-book-primary text-white p-3 border-round unauthorized-btn">Se connecter</button></a>

  </div>
</div>
