<div class="m-5">
  <div>
    <h1 class="text-center text-3xl font-bold mb-4">Catégorie</h1>
  </div>
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="flex flex-column justify-content-around p-5 h-20rem border-round-sm bg-book-primary bg-book-item font-bold text-white">
          <h3 class="mb-5">Arts, société & sciences humaines</h3>
          <div class="flex flex-column align-items-start justify-content-between">
            <a class="mb-4">Decoration</a>
            <a class="mb-4">Beaux Arts</a>
            <a class="mb-4">Cinema</a>
            <a class="mb-4">Voir plus...</a>
          </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="flex flex-column justify-content-around p-5 h-20rem border-round-sm bg-book-quaternary bg-book-item font-bold text-white">
          <h3 class="mb-5">Bien-être & vie pratique</h3>
          <div class="flex flex-column align-items-start justify-content-between">
            <a class="mb-4">Decoration</a>
            <a class="mb-4">Beaux Arts</a>
            <a class="mb-4">Cinema</a>
            <a class="mb-4">Voir plus...</a>
          </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="flex flex-column justify-content-around p-5 h-20rem border-round-sm bg-book-tertiary bg-book-item font-bold text-white">
          <h3 class="mb-5">Enfance et Jeunesse</h3>
          <div class="flex flex-column align-items-start justify-content-between">
            <a class="mb-4">Decoration</a>
            <a class="mb-4">Beaux Arts</a>
            <a class="mb-4">Cinema</a>
            <a class="mb-4">Voir plus...</a>
          </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="flex flex-column justify-content-around p-5 h-20rem border-round-sm bg-book-secondary bg-book-item font-bold text-white">
          <h3 class="mb-5">Toutes les thématiques...</h3>
        </div>
    </div>
</div>
</div>
