
<div class="card">
  <p-toast />
  <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
          <p-button
              severity="success"
              label="New"
              icon="pi pi-plus"
              class="mr-2"
              (onClick)="openNew()" />
          <p-button
              severity="danger"
              label="Delete"
              icon="pi pi-trash"
              (onClick)="deleteSelectedventes()"
              [disabled]="!selectedvente || !selectedvente.length" />
      </ng-template>

      <ng-template pTemplate="right">
          <p-fileUpload
              mode="basic"
              accept="image/*"
              [maxFileSize]="1000000"
              label="Import"
              chooseLabel="Import"
              class="mr-2 inline-block" />
          <p-button
              severity="help"
              label="Export"
              icon="pi pi-upload" />
      </ng-template>
  </p-toolbar>

  <p-table
      #dt
      [value]="ventes"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
      [tableStyle]="{ 'min-width': '75rem' }"
      [(selection)]="selectedvente"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
  >
      <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Manage ventes</h5>
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input
                      #globalFilterInput
                      pInputText
                      type="text"
                      (input)="dt.filterGlobal(globalFilterInput.value, 'contains')"
                      placeholder="Search..." />
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 4rem">
                  <p-tableHeaderCheckbox />
              </th>
              <th pSortableColumn="idClient" style="min-width:15rem">
                  Id Client<p-sortIcon field="idClient" />
              </th>
              <th pSortableColumn="produitId">
                Id Produit <p-sortIcon field="produitId" />
              </th>
              <th pSortableColumn="dateVente" style="min-width:15rem">
                Date de Vente <p-sortIcon field="dateVente" />
              </th>
              <th pSortableColumn="quantitie" style="min-width:10rem">
                  Quantite <p-sortIcon field="quantitie" />
              </th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vente>
          <tr>
              <td>
                  <p-tableCheckbox [value]="vente" />
              </td>
              <td>
                  {{ vente.idClient }}
              </td>
              <td>
                  {{ vente.produitId }}
              </td>
              <td>
                  {{ vente.dateVente }}
              </td>
              <td>
                  {{ vente.quantitie }}
              </td>
              <td>
                  <p-button
                      icon="pi pi-pencil"
                      class="mr-2"
                      [rounded]="true"
                      [outlined]="true"
                      severity="success"
                      (onClick)="editvente(vente)" />
                  <p-button
                      icon="pi pi-trash"
                      severity="danger"
                      [rounded]="true"
                      [outlined]="true"
                      (onClick)="deleteVente(vente)" />
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
              In total there are {{ ventes ? ventes.length : 0 }} ventes.
          </div>
      </ng-template>
  </p-table>

  <p-dialog
      [(visible)]="venteDialog"
      [style]="{ width: '450px' }"
      header="vente Details"
      [modal]="true"
      styleClass="p-fluid">
          <ng-template pTemplate="content">
              <div class="field">
                  <label for="idClient">ID Client</label>
                  <input
                      type="number"
                      pInputText
                      id="idClient"
                      [(ngModel)]="vente.idClient"
                      required
                      autofocus />
                  <small class="p-error" *ngIf="submitted && !vente.idClient">
                      Id Client is required.
                  </small>
              </div>
              <div class="field">
                  <label for="produitId">idProduit</label>
                  <input
                      type="number"
                      pInputText
                      id="produitId"
                      [(ngModel)]="vente.produitId"
                      required
                      autofocus />
                  <small class="p-error" *ngIf="submitted && !vente.produitId">
                      Product Id is required.
                  </small>
              </div>
              <div class="formgrid grid">
                  <div class="field col">
                      <label for="dateVente">Date de Vente</label>
                      <input
                        type="date"
                        pInputText
                        id="dateVente"
                        [(ngModel)]="vente.dateVente"
                        required
                        autofocus />
                      <small class="p-error" *ngIf="submitted && !vente.dateVente">
                          Date is required.
                      </small>
                  </div>
                  <div class="field col">
                      <label for="quantitie">Quantite</label>
                      <input
                          type="number"
                          pInputText
                          id="quantitie"
                          [(ngModel)]="vente.quantitie"
                          required
                          autofocus />
                          <small class="p-error" *ngIf="submitted && !vente.quantitie">
                            Quantite is required.
                        </small>
                  </div>
              </div>
          </ng-template>

          <ng-template pTemplate="footer">
              <p-button
                  label="Cancel"
                  icon="pi pi-times"
                  [text]="true"
                  (onClick)="hideDialog()" />
              <p-button
                  label="Save"
                  [text]="true"
                  icon="pi pi-check"
                  (click)="saveVente()" />
          </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
